<%- include("./partials/header.ejs")  %>
<%- include("./partials/menu.ejs")  %>

<% if(loggedUser && loggedUser.username){ %>
  <h2>
    <center>
      <% if(loggedUser.role == "admin"){ %>
        Welcome Admin!
      <% }else{ %>
        Welcome <%= loggedUser.username %>
      <% } %>
    </center>
  </h1>
<% } %>

  <% if(posts.length != 0 || postCount !== ""){ %>
  <div class="search-container">
    <form action="/search" method="get">
      <div class="input-wrapper">
          <input type="text" placeholder="Search here..." name="query" value="<%= query %>">
      </div>
      <button class="button-style" type="submit">Search</button>
      <% if(postCount !== ""){ %>
        <p class="error">Search result : <%= postCount %> </p>
      <% } %>
    </form>
  </div>
  <% } %>



  <section class="home-container page-style">
    <% posts.forEach(function(post) { %>
      <div class="outer" id="<%= post.id %>">
        <div class="inner">
          <img src="uploads/post/<%= post.file %>" alt="" />
          <div>
            <h3><%= post.title %></h3>
            <ul>
              <li>Bed: <%= post.bed %></li>
              <li>Bath: <%= post.bath %></li>
              <li>Price: <%= post.price %> BDT</li>
              <li><%= post.address %></li>
              <li>Phone: <%= post.mobile %></li>
            </ul>
            <div class="contact-button">
              <a class="button-style" href="tel:+88<%= post.mobile %>">Call</a>
              <a class="button-style" href="mailto:<%= post.email %>">Email</a>
              <% if(loggedUser && loggedUser.username){ %>
              <button class="button-style" onclick="deletePost('<%= post._id %>')">Delete</button>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
      <% if(posts.length == 0){ %>
      <div style="width: 100%; text-align: center;">
        <h1>Homes are not found!</h1>
        <% if(postCount === 0){ %>
          <a href="/" class="button-style">Refrash</a>
        <% }else if(loggedUser && loggedUser.username){ %>
          <a href="/post" class="button-style">Post</a>
        <% }else{ %>
          <a href="/login" class="button-style">Login</a>
        <% } %>
      </div>
      <% } %>
  </section>

  <script>
    const deleteToast = Toastify({
      text: "The post was Deleted Sucessfully!",
      duration: 3000
    })
    const deleteErrorToast = Toastify({
      text: "Could not delete the post!",
      duration: 3000
    })

    async function deletePost(postId) {
      const response = await fetch('/post/'+postId, {
        method: "DELETE",
      })
      const result = await response.json();

      if(result.error){
        deleteErrorToast.showToast();
      }else{
        deleteToast.showToast();
        document.getElementById(postId).remove();
        setTimeout(() => {
          location = '/';
        }, 1000);
      }
    }

    document.querySelector('.search-container input').addEventListener('change', (e)=>{
      if (!e.target.value) {
        location = '/';
      }
    })
  </script>

    <footer>
      <h1>Contact Us for advertising your home</h1>
      <p>Phone: 01782943284</p>
      <p>Email: zakirul011@gmail.com</p>
  </footer>
<%- include("./partials/footer.ejs")  %>